@layer components {
  .terminal {
    --row-gap: 0.2lh;

    background-color: var(--color-terminal-bg);
    color: var(--color-terminal-text);
    font-family: var(--font-mono);
    font-size: var(--text-normal);
    inset: auto 0 0 0;
    padding: var(--block-space) calc(var(--tray-size) + var(--inline-space) * 3);
    position: fixed;
    z-index: 1;

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-black);
      border-block-start: 1px solid var(--color-ink-lighter);
    }

    .terminal__input {
      --input-border-color: transparent;
      --input-border-radius: 0.3em;
      --hover-color: transparent;
      --input-color: var(--color-terminal-text);
      --outline-size: 0;
      --outline-color: transparent;

      accent-color: var(--color-terminal-text);
      caret-color: var(--color-terminal-text);
      font-family: inherit;

      &::placeholder {
        color: oklch(var(--lch-green-light));
        opacity: 0.5;
      }
    }
  }

  .terminal__button {
    --btn-background: var(--color-terminal-bg);
    --btn-color: var(--color-terminal-text);
    --btn-border-radius: 0;
    --btn-border-color: var(--color-terminal-text);
    --btn-padding: 0.1em 0.7em;
    --btn-border-size: 1px;
    --hover-color: var(--color-terminal-text);
    --hover-size: 1px;

    font-family: var(--font-mono);
    font-size: var(--text-x-small);
    white-space: nowrap;

    &:where(:not(:active)):focus-visible {
      outline: 2px solid var(--color-terminal-text);
    }
  }

  .terminal__command {
    --btn-background: transparent;
    --btn-color: var(--color-terminal-text);

    font-weight: normal;
    transition: unset;
  }

  .terminal__menu {
    display: none;
    list-style: none;

    .terminal--open & {
      display: flex;
    }
  }

  .terminal__item {
    &:where(:not(:active)):focus-visible {
      --btn-color: var(--color-terminal-bg);

      background: var(--color-terminal-text);
      color: var(--color-terminal-bg);
      outline: 2px solid var(--color-terminal-text);

      .terminal__command {
        color: var(--color-terminal-bg);
      }
    }

    @media (any-hover: hover) {
      &:where(:not(:active):hover) {
        background: color-mix(in srgb, var(--color-terminal-text) 20%, var(--color-terminal-bg));
      }
    }
  }

  .terminal--error .terminal__input {
    accent-color: var(--color-negative);
    caret-color: var(--color-negative);
    color: var(--color-negative);
  }
}
